.hero {
  background-color: rgba(94, 94, 94, 0.315);
  border: 1px solid #fff09b;
  border-radius: 0.5em;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  margin: 1em;
  min-width: 22em;
  min-height: 15em;
  color: white;
}

.svg-button {
  cursor: pointer;
}
