<div
  *ngIf="hero"
  style="background-image: url('{{ hero.image }}')"
  class="hero">
  <div class="header">
    <h2 class="title">{{ hero.name | uppercase }}</h2>
    <div class="buttons">
      <a [routerLink]="[hero.id, 'edit']">
        <fa-icon
          [icon]="faSquarePen"
          class="fa-2x svg-button edit"
          title="Editer le champion"></fa-icon>
      </a>
      <a (click)="deleteHero()">
        <fa-icon
          [icon]="faSquareXmark"
          class="fa-2x svg-button delete"
          title="Supprimer le hero"></fa-icon>
      </a>
    </div>
  </div>

  <div class="stats">
    <p class="health">
      health:
      <fa-icon [icon]="faHeart" class="fa-2x"></fa-icon>
      {{ hero.health }}
    </p>
    <p class="speed">
      speed:
      <fa-icon [icon]="faPersonRunning" class="fa-2x"></fa-icon>
      {{ hero.speed }}
    </p>
    <p class="dodge">
      dodge:
      <fa-icon [icon]="faPersonFallingBurst" class="fa-2x"></fa-icon>
      {{ hero.dodge }}
    </p>
    <p class="critical">
      critical:
      <fa-icon [icon]="faExlosion" class="fa-2x"></fa-icon>
      {{ hero.critical }}
    </p>
    <p class="defense">
      defense:
      <fa-icon [icon]="faShieldHalved" class="fa-2x"></fa-icon>
      {{ hero.defense }}
    </p>
    <p class="strength">
      strength:
      <fa-icon [icon]="faDumbbell" class="fa-2x"></fa-icon>
      {{ hero.strength }}
    </p>
  </div>

  <hr />
  Items:

  <div class="items">
    <a *ngFor="let item of hero.items"><img src="" /></a>
  </div>

  <hr />

  Class:
  <div>
    <a *ngFor="let class of hero.class">
      <img src="" />
      {{ class }}
    </a>
  </div>
</div>
