<div *ngIf="hero" class="heroe-create">
  <div>
    <div *ngIf="isValid" style="color: green">Hero valid</div>
    <div *ngIf="!isValid" style="color: red">
      Hero invalid ! (health, speed, dodge, critical, defense, strength must
      have a total of 60 and at least 5 for each)
    </div>
    <div>Point utilisé : {{ usedPoints }} ({{ remainPoints }} restants)</div>
    <div>
      <label for="hero-name">Hero name:</label>
      <input
        id="hero-name"
        [(ngModel)]="hero.name"
        placeholder="name"
        (ngModelChange)="onChanges()" />
    </div>

    <div>
      <label for="hero-health">Hero health:</label>
      <input
        id="hero-health"
        [(ngModel)]="hero.health"
        placeholder="health"
        (ngModelChange)="onChanges()"
        type="number" />
      {{ item && '(+' + item.stats!['health'] + ')' }}
    </div>

    <div>
      <label for="hero-speed">Hero speed:</label>
      <input
        id="hero-speed"
        [(ngModel)]="hero.speed"
        placeholder="speed"
        (ngModelChange)="onChanges()"
        type="number" />
      {{ item && '(+' + item.stats!['speed'] + ')' }}
    </div>

    <div>
      <label for="hero-dodge">Hero dodge:</label>
      <input
        id="hero-dodge"
        [(ngModel)]="hero.dodge"
        placeholder="dodge"
        (ngModelChange)="onChanges()"
        type="number" />
      {{ item && '(+' + item.stats!['dodge'] + ')' }}
    </div>

    <div>
      <label for="hero-critical">Hero critical:</label>
      <input
        id="hero-critical"
        [(ngModel)]="hero.critical"
        placeholder="critical"
        (ngModelChange)="onChanges()"
        type="number" />
      {{ item && '(+' + item.stats!['critical'] + ')' }}
    </div>

    <div>
      <label for="hero-defense">Hero defense:</label>
      <input
        id="hero-defense"
        [(ngModel)]="hero.defense"
        placeholder="defense"
        (ngModelChange)="onChanges()"
        type="number" />
      {{ item && '(+' + item.stats!['defense'] + ')' }}
    </div>

    <div>
      <label for="hero-strength">Hero strength:</label>
      <input
        id="hero-strength"
        [(ngModel)]="hero.strength"
        placeholder="strength"
        (ngModelChange)="onChanges()"
        type="number" />
      {{ item && '(+' + item.stats!['strength'] + ')' }}
    </div>

    <div>
      <label for="hero-type">Hero type:</label>
      <div>
        <span *ngIf="nbrOfClasses === 1">Expert</span>
        <span *ngIf="nbrOfClasses === 2">Spécialiste</span>
        <span *ngIf="nbrOfClasses === 3">Généraliste</span>
      </div>
      <div *ngFor="let c of hero.class; let indexClass = index">
        <select
          *ngIf="hero.class"
          [(ngModel)]="hero.class[indexClass]"
          id="hero-class{{ indexClass }}"
          (ngModelChange)="onChanges()"
          [disabled]="
            (hero.class[indexClass + 1] !== '' &&
              hero.class[indexClass + 1] !== undefined) ||
            hero.class[indexClass - 1] === ''
          ">
          <option
            *ngFor="let class of classes"
            [value]="class"
            [disabled]="
              class !== '' && hero.class.includes(class) && class !== c
            "
            [selected]="class === c"
            (change)="onChanges()">
            {{ class }}
          </option>
        </select>
      </div>

      <label for="hero-weapon">Hero weapon:</label>
      <select
        id="hero-weapon"
        [(ngModel)]="hero.item"
        (ngModelChange)="onChangeItem()">
        <option></option>
        <option *ngFor="let item of allItems" [value]="item.id">
          {{ item.name }}
        </option>
      </select>

      <button *ngIf="isNew" (click)="createHero()">Create</button>
    </div>
  </div>
</div>
