<div *ngIf="hero">
  <div>
    <div>
      <label for="hero-name">Hero name:</label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
    </div>

    <div>
      <label for="hero-speed">Hero speed:</label>
      <input id="hero-speed" [(ngModel)]="hero.speed" placeholder="speed" />
    </div>

    <div>
      <label for="hero-health">Hero health:</label>
      <input id="hero-health" [(ngModel)]="hero.health" placeholder="health" />
    </div>

    <div>
      <label for="hero-type">Hero type:</label>
      <div>
        <span *ngIf="nbrOfClasses === 1">Expert</span>
        <span *ngIf="nbrOfClasses === 2">Spécialiste</span>
        <span *ngIf="nbrOfClasses === 3">Généraliste</span>
      </div>
      <div *ngFor="let c of hero.class; let indexClass = index">
        <select
          *ngIf="hero.class"
          [(ngModel)]="hero.class[indexClass]"
          id="hero-class{{ indexClass }}"
          (change)="onClassChange()"
          [disabled]="
            (hero.class[indexClass + 1] !== '' &&
              hero.class[indexClass + 1] !== undefined) ||
            hero.class[indexClass - 1] === ''
          ">
          <option
            *ngFor="let class of classes"
            [value]="class"
            [disabled]="
              class !== '' && hero.class.includes(class) && class !== c
            "
            [selected]="class === c">
            {{ class }}
          </option>
        </select>
      </div>
    </div>

    <button *ngIf="isNew" (click)="createHero()">Create</button>
  </div>
</div>
