<div
  *ngIf="item"
  style="background-image: url('{{ item.image }}')"
  class="item">
  <div class="header">
    <fa-icon
      [icon]="faCheck"
      class="fa-2x"
      [style.color]="isValid ? 'green' : 'red'"
      title="{{ isValid ? 'Valid' : 'Not valid' }}"></fa-icon>
    <h2 class="title">{{ item.name | uppercase }}</h2>
    <div class="buttons">
      <a [routerLink]="[item.id, 'edit']">
        <fa-icon
          [icon]="faSquarePen"
          class="fa-2x svg-button edit"
          title="Editer le champion"></fa-icon>
      </a>
      <a (click)="deleteItem()">
        <fa-icon
          [icon]="faSquareXmark"
          class="fa-2x svg-button delete"
          title="Supprimer le hero"></fa-icon>
      </a>
    </div>
  </div>

  <div class="stats" *ngIf="item.stats">
    <p class="health">
      health:
      <fa-icon [icon]="faHeart" class="fa-2x"></fa-icon>
      {{ item.stats['health'] }}
    </p>
    <p class="speed">
      speed:
      <fa-icon [icon]="faPersonRunning" class="fa-2x"></fa-icon>
      {{ item.stats['speed'] }}
    </p>
    <p class="dodge">
      dodge:
      <fa-icon [icon]="faPersonFallingBurst" class="fa-2x"></fa-icon>
      {{ item.stats['dodge'] }}
    </p>
    <p class="critical">
      critical:
      <fa-icon [icon]="faExlosion" class="fa-2x"></fa-icon>
      {{ item.stats['critical'] }}
    </p>
    <p class="defense">
      defense:
      <fa-icon [icon]="faShieldHalved" class="fa-2x"></fa-icon>
      {{ item.stats['defense'] }}
    </p>
    <p class="strength">
      strength:
      <fa-icon [icon]="faDumbbell" class="fa-2x"></fa-icon>
      {{ item.stats['strength'] }}
    </p>
  </div>
  Passive:
  <div>
    <a *ngFor="let passive of item.passives">
      {{ passive.effect }} {{ passive.value }} tous les
      {{ passive.interval }} tours
    </a>
  </div>
  <hr />
  Active:
  <div>
    <a *ngFor="let active of item.actives">
      {{ active.effect }} {{ active.value }} pour {{ active.duration }},
      {{ active.cooldown }} tours de recharge
    </a>
  </div>
</div>
